<app-layout-item>
  <ul class="parent">
    <li class="column1">
    </li>
    <li class="column2">
      <h1>
        ЛабеАринт
      </h1>
      <h2>
        Что же всё таки скрывают подземные лаберинты?
      </h2>
      Лаберинт представляет собой огромную локацию, для прохождения которой не нужно иметь
      особые умения, достаточно просто читать всплывающие подсказки и слушать себя.
      Тайны которые хранит лаберинт, влекут множество вопросов. Такиех как, что за автомобили
      торчат из стен, почему там такая атмосфера, будто бы кто-то умер?
      <br><br>
      <app-image
        [src]="'https://res.cloudinary.com/dsocr550v/image/upload/v1560229084/2_iqxnqx.png'"
        [isBorder]="true"
        [isZoom]="true"
      >
      </app-image>
      <br>
      Да, лаберинт - это часть оставленного людьми города, который с течением времени был засыпан
      песком, и после чего обжит местными зверюшками, которые и привели данное творение в тот вид,
      который мы можем наблюдать прямо в игре.
      <br><br>
      <h2>
        КОММЕНТАРИИ:
      </h2>
    </li>
    <li class="column3">


    </li>
    <br><br>

  </ul>
  <app-comments></app-comments>
  <app-news-rating>
  </app-news-rating>
</app-layout-item>
