<app-layout-item>
  <ul class="parent">
    <li class="column1">
    </li>
    <li class="column2">
      <h1>
        Остров
      </h1>
      <h2>
        Что таит в себе остров
      </h2>
      Таинственный остров полон загадок и, путешествуя по нём мы понимаем, что это действительно так.
      Как ни странно, даже если не играть в сюжетку, на острове можно найти много чего таинственного и неизведанного. Для того чтобы
      понять все тайны забытого острова вам необходимо попасть на него, а для этого нужно просто поиграть.
      <br><br>
      <app-image
        [src]="'https://res.cloudinary.com/dsocr550v/image/upload/v1560229090/4_sixldq.png'"
        [isBorder]="true"
        [isZoom]="true"
      >
      </app-image>
      <br><br>
      <h2>
        КОММЕНТАРИИ:
      </h2>
    </li>
    <li class="column3">


    </li>
    <br><br>

  </ul>
  <app-comments></app-comments>
  <app-news-rating>
  </app-news-rating>
</app-layout-item>
