<div class="slider-container">
<!--  <app-layout-item>-->
    <div
      class="swiper-container"
      [swiper]="config"
    >
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <app-image
            [isBorder]="false"
            [src]="'https://res.cloudinary.com/dsocr550v/image/upload/v1560208857/banner2_mzfu4w.jpg'"
          >
          </app-image>
        </div>
        <div class="swiper-slide">
          <app-image
            [isBorder]="false"
            [src]="'https://res.cloudinary.com/dsocr550v/image/upload/v1560166027/banner_qjduvs.png'"
          >
          </app-image>
        </div>
        <div class="swiper-slide">
          <app-image
            [isBorder]="false"
            [src]="'https://res.cloudinary.com/dsocr550v/image/upload/v1560207739/banner_kxoq1v.jpg'"
          >
          </app-image>
        </div>
      </div>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
<!--  </app-layout-item>-->
</div>
