
<app-layout-item>
  <ul class="parent">
    <li class="column1">
      <h1>
        Тайны забытого острова
      </h1>
      <h2>
        Сюжет:
      </h2>
      На дворе 2150 год, на планете Земля роль людей уже стали играть роботы. Однаждый молодной робот по имени Вердер решил отправился в кругосветное
      путешествие на корабле, но из-за погодных аномалий корабль терпит куршение. И Вердер оказывается один, на Богом забытом острове, среди остатков мусора
      и одиноких пальм.
      <br><br>
      <app-image
        [src]="'https://res.cloudinary.com/dsocr550v/image/upload/v1560221628/3_ufg6bi.png'"
        [isBorder]="true"
        [isZoom]="true"
      >
      </app-image>
    </li>
    <li class="column2">


    </li>
    <li class="column3">
      <br><br>
      <app-image
      [src]="'https://res.cloudinary.com/dsocr550v/image/upload/v1560221875/1_lelvqb.png'"
      [isBorder]="true"
      [isZoom]="true"
      >
      </app-image>
      <br>
      <h2>
        Задача:
      </h2>
      Управляя роботом, вам предстоит выполнить несколько квестов, собрать необходимые артефакты, и выбраться из забытого острова,
      при этом разгадывая увлекательные головоломки, перемещаясь по острову. Так же необходимо собрать радио-приёмник, при помощи которого,
      в конце игры, робот сможет подать сигнал тревоги и завершить незапланированное путешествие.
      <br>

    </li>
  </ul>
</app-layout-item>


