<app-layout-item>
    <ul class="parent">
      <li class="column1">
      </li>
      <li class="column2">
        <h1>
          Предметы ялвяются ключевой идееё сайта.
        </h1>
        <h2>
          Сюжет:
        </h2>
        Одним из самый главных атрибутов игры являются предметы или артифакты.
        Каждый из которых является либо частью механизма, либо ключом для продолжения квеста.
        Первые три предмета, такие как: механизм, джостик и батарейка служат для создания радио-приёмника.
        Другие, такие как ключ и топливо, необходимы для продолжения игры.
        <br><br>
        <app-image
          [src]="'https://res.cloudinary.com/dsocr550v/image/upload/v1560228883/7_rkm8na.png'"
          [isBorder]="true"
          [isZoom]="true"
        >
        </app-image>
        Для прохождения игры необходимо собрать все пять предметов. Мы уверены, что у вас это получиться.
        Удачи!)
        <br><br>
        <h2>
          КОММЕНТАРИИ:
        </h2>
      </li>
      <li class="column3">


      </li>
      <br><br>

    </ul>
  <app-comments></app-comments>
      <app-news-rating>
      </app-news-rating>
</app-layout-item>
