
<app-layout-item>
  <ul class="parent">
    <li class="column1">
      <h1>
        Руководство пользователя
      </h1>
      <h2>
        Управление роботом:
      </h2>
      Для передвижения используйте клавиши W и S.<br>
      Поворот - клавиши A и D.<br>
      Прыжок вперед - пробел.<br>
      Прыжок в высоту - W + пробел.<br>
      Сальто - клавиша E.<br>
      Удар - клавиша ПКМ.<br>
      Бег - Shift + W.<br>
      Присесть - C.<br>
      Ходьба в прсяде - зажмите С.<br>
      <h2>
        Примечания:
      </h2>
      Внимательное читайте задания.<br>
      Будьте осторожны<br>
      Получайте удовольствие от игры<br>
    </li>
    <li class="column2">
      <img src='https://media0.giphy.com/media/TzHoeDza0h6CY/giphy.gif?cid=790b76115cff02b45530736f369be4b7&rid=giphy.gif' alt="">
    </li>
    <li class="column3">
      <div class="image">
        <iframe width="530" height="340" [src]="url" frameborder="0" allowfullscreen></iframe>
      </div>
    </li>
  </ul>
</app-layout-item>
