
<app-layout-item>
  <ul class="parent">
    <li class="column1">
      <h1>
        Руководство пользователя
      </h1>
      <h2>
        Управление роботом:
      </h2>
      Для передвижения используйте клавиши <span style="font-family: Roboto">W</span> и <span style="font-family: Roboto">S</span>.<br>
      Поворот - клавиши <span style="font-family: Roboto">A</span> и <span style="font-family: Roboto">D</span>.<br>
      Прыжок вперед - <span style="font-family: Roboto">Пробел</span>.<br>
      Прыжок в высоту - <span style="font-family: Roboto">W</span> + <span style="font-family: Roboto">Пробел</span>.<br>
      Сальто - клавиша <span style="font-family: Roboto">E</span>.<br>
      Удар - клавиша <span style="font-family: Roboto">ПКМ</span>.<br>
      Бег - <span style="font-family: Roboto">Shift</span> + <span style="font-family: Roboto">W</span>.<br>
      Присесть - <span style="font-family: Roboto">C</span>.<br>
      Ходьба в прсяде - зажмите <span style="font-family: Roboto">C</span>.<br>
      <h2>
        Примечания:
      </h2>
      Внимательное читайте задания.<br>
      Будьте осторожны<br>
      Получайте удовольствие от игры<br>
    </li>
    <li class="column2">
      <img src='https://media0.giphy.com/media/TzHoeDza0h6CY/giphy.gif?cid=790b76115cff02b45530736f369be4b7&rid=giphy.gif' alt="">
    </li>
    <li class="column3">
      <div class="image">
        <iframe width="530" height="340" [src]="url" frameborder="0" allowfullscreen></iframe>
      </div>
    </li>
  </ul>
</app-layout-item>
