$font_size_variable: 16px;
$font_size_secondary_variable: 18px;
$layout_item_max_width: 960px;
$line_height: 1.428;
$animation_time: 1s;
$animation_delay: 0s;

$text_color_news: #666666;
$text_color_news2: #999999;
$main_color: #333333;
$primary_color: #99ccff;
$secondary_color: #red;
$tertiary_color: rgba(0, 14, 28, 0.2);
$quaternary_color: #a6dad9;


$main_text_color: white;
$text_color: black;
$primary_text_color: #539994;
$secondary_text_color: #b3d0d0;
$tertiary_text_color: #539994;


$primary_button_color: #32508E;
$secondary_button_color: #55ACEE;
$tertiary_button_color: #DD4B39;
$quaternary_button_color: #AAA;


$main_link_color: #3fadee;
$link_decoration: $main_link_color underline;




















